.dashboard-column{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ============== product style =================== */

.btn-add-product{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px 15px;
    font-size: 20px;
    border: 2px solid rgb(255, 149, 232);
    background: none;
}

.btn-add-product:hover{
    background: rgb(255, 149, 232);
    color: white;
    transform: scale(1.1);
}

.save-product{
    background: rgb(255, 149, 232);
}
/* ============== product style =================== */

table tbody tr .btb-update{
    text-decoration: none;
}